
#loggedInSymbol {
	background-color:grey;
	height: 120px;
	width: 120px;
	padding: 0px;
}

#loggedInSymbol h1 {
	font-size: 40px;
    padding-top: 40px;
    padding-left: 130px;
}

#login {
	border-bottom: 1px black solid;
	padding-top: 10px;
	padding-bottom: 30px;
}

#tag-toast {
	border-bottom: 1px black solid;
}

#login button {
	background-image: none;
}

#players {
	border-right: 1px black solid;
}

.active-player-visual {
	height: 120px;
	width: 120px;
	margin: 20px;
	margin-right: 0px;
}

.tagslist {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 30px;
}

a,
a:hover,
a:focus {
	cursor: pointer;
}

@media (max-width: 768px) {
  #players {
		border-right: 0px black solid;
		border-bottom: 1px black solid;
	}
}